<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/info/shows">TV Shows</a>
    <a href="/logout">logout</a>
    <p>Liked by : </p>
    <h1>{{show.title}}</h1>
    <h2>Network:{{show.network}}</h2>
    <p>Release Date:{{show.date}}</p>
    <p>Description: {{show.description}}</p>
    <p>Posted By: {{session['user_first_name']}}</p>
</body>
</html>